{% extends 'base.html.twig' %}

{% block title %}Accueil de EGCN
{% endblock %}
{% block carousel %}{% endblock %}


{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="#">src/Controller/RegisterController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="#">templates/register/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
{% block content %}
	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">– Fiducial POINTEX
			</h2>
			<p class="lead">Restaurants et métiers de Bouche Un pack tout compris engagement sur 36 mois 89€ HT/ mois, idéal pour le démarrage d’une activité, facilite la gestion de votre établissement.</p>
		</div>
		<div class="col-md-5">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
				<title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
			</svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading fw-normal lh-1">– QR CODE
			</h2>
			<p class="lead">EQUIPEZ VOTRE RESTAURANT DE MENU QR CODE Votre Menu digitalisé sur internet accessible par QR code simplement Compatible partout sans installer d’application Commandez ici 🛒.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
				<title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
			</svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">– Pointex et Koust
			</h2>
			<p class="lead">PILOTEZ LA GESTION DE VOTRE ÉTABLISSEMENT AVEC KOUST.</p>
		</div>
		<div class="col-md-5">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
				<title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
			</svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading fw-normal lh-1">– Logiciel Gestion de L’Encaissement
			</h2>
			<p class="lead">DES SOLUTIONS D’ENCAISSEMENTS ADAPTÉES ET NORMÉES UNE SOLUTION D’ENCAISSEMENT POUR CHAQUE METIER Certification POINTEX 16-0023.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
				<title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
			</svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">– Groupe EGCN
			</h2>
			<p class="lead">Créée en Mars 1990, la Société EGCN est un distributeur de solutions d’encaissements pour les métiers de bouches, (particulièrement restauration, bar, snack, boulangerie…) et propose également un grand choix de solutions professionnelles autres : Système de vidéo surveillance, Terminaux de carte bancaire, Contrôle de boissons, Vibreurs d’appels serveurs…</p>
		</div>
		<div class="col-md-5">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
				<title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
			</svg>
		</div>
	</div>

	<hr
	class="featurette-divider">

<!-- /END THE FEATURETTES -->
{% endblock %}
